{% extends 'layout.html' %}

{% block title %}帮助{% endblock %}

{% block bc %}
<a href="{{ url_for('site.index') }}">首页</a>
› 帮助
{% endblock %}

{% block right %}
<div class="cell">
	<h3>帮助：</h3>
	<a href="#about">关于本站</a><br>
	<a href="#notice">用户须知</a><br>
	<a href="#invite">邀请用户</a><br>
	<a href="#point">积分等级</a><br>
</div>
{% endblock %}

{% block main %}
<div class="pad10 indent-p">
	<h2 id="about">关于本站</h2>
	<p>本站名称[好久不见，神农架]，表达身处外地的神农人对家乡的思念，这也是搭建这个社区的初衷。本站域名(网址)是 v5snj.com，意思大家都懂的。有这样一个传说，<span class="red">智商180以上的人能在10秒内记住本站网址，情商180以上的人能在10分钟内成功邀请到5个神农架老乡。^_^</span></p>
	<p>本站由站长<a href="">执事</a>基于python的flask框架开发而成，没有使用现成的discuz和phpwind论坛系统主要是基于性能考虑和方便后期的定制开发，整个项目成熟之后会开源所有代码。如果大家对网站的功能有什么意见或者建议，可以在站务区内发帖说明，我会酌情作出调整。本站暂时只有简单的论坛功能，后期可能会结合安卓系统做更多移动端的尝试，也希望大家多多支持。</p>
	<p><a class="right" href="#">回到顶部&uarr;</a><div class="empty-clear"></div></p>

	<h2 id="notice">用户须知</h2>
	<p>本站旨在创造一个轻松愉快的环境，理论上大家可以畅所欲言。但是，这是一个神奇的国度，有些话是不应当放在台面上说的，不然也不会发生多起“跨省”事件。所以希望大家在这里能够做到：不言色情，不论党国，不检贪官。按照惯例，还应该加一句：请遵守当地的法律法规。</p>
	<p>如果实在是青春年少体内有火或者有冤无门期待昭雪，出门左转有<a href="" target="_blank">东湖社区</a>，那里有个神农架频道，里边有不少注册用户跟有关部门有些关系，去那里念念不忘可能还会有些回响。而这里更多的是在外地的草根用户，还是比较适合吹吹牛聊聊天拉拉家常，在此也提前多谢大家的配合。</p>
	<p>另外需要强调的是各位用户在这里发布的内容版权都属于发布者自己，未经允许请勿转载。再就是社区里极为引人反感的“诅咒贴”，一经发现立刻封杀发布账号，绝不含糊。类似“买方便面没有调味包”这样的弱诅咒目前还是可以接受的，但请一定不要言及他人及其家人的健康及寿命。</p>
	<p><a class="right" href="#">回到顶部&uarr;</a><div class="empty-clear"></div></p>

	<h2 id="invite">邀请用户</h2>
	<p>本站用户严格采用邀请制度，主要基于以下考虑：</p>
	<p>1、保证用户的纯粹。<a href="" target="_blank">这里</a>有一份电子地图，主要是为了统计并显示神农架人在全国的分布，如果有外人干扰会影响数据的准确性。</p>
	<p>2、防止过多的垃圾账号注册，减少垃圾帖的数量。</p>
	<p>3、本站服务器的配置不算太高，撑不了多少用户，虽然硬件升级比较简单，但是作为站长我更愿意这里只是一个小众的地方，我愿意牺牲流量来保证用户的质量。</p>
	<p><span class="red">邀请的时候应该一对一邀请QQ列表里的神农架老乡，不应该什么人都邀请，更不应该在群里吼～～</span>因为某个人的随意邀请所引发的蝴蝶效应会产生多少的”计划之外的用户“是无法预估的，所以希望大家能珍惜每一个邀请码，一起来维护电子地图的准确。</p>
	<p><strong>邀请用户的方法：</strong>告诉你的一个好友这个网站的网址：http://v5snj.com ，他如果有兴趣加入的话自会找你要邀请码，你去<a href="{{ url_for('user.invite') }}">这里</a>生成一个邀请码发给他即可，他激活后你也会得到一定的积分奖励。</p>
	<p>本站接入了腾讯的登录系统，可以用QQ账号登录，我比较推荐的方法是从QQ软件打开QQ空间，然后再进入 http://v5snj.com 的首页点击QQ登录，这样可以避免在网页中输入QQ密码。如果大家在其他网站也有用到QQ登录，我也推荐这种方法。你的QQ密码输入的次数越少，账号被盗的可能性就越低。之所以接入这套系统是为了避免繁复的注册登录过程和记忆账号密码。</p>
	<p><a class="right" href="#">回到顶部&uarr;</a><div class="empty-clear"></div></p>

	<h2 id="point">积分等级</h2>
	<p>积分获取方式：</p>
	<table border="1">
		<tr>
			<th>事件</th>
			<th>积分</th>
			<th>每天限制</th>
		</tr>
		<tr>
			<td>每日登录</td>
			<td>10分</td>
			<td>每天一次</td>
		</tr>
		<tr>
			<td>成功邀请用户</td>
			<td>10分</td>
			<td>无限制</td>
		</tr>
		<tr>
			<td>发表主题</td>
			<td>10分</td>
			<td>无限制</td>
		</tr>
		<tr>
			<td>发表评论</td>
			<td>10分</td>
			<td>无限制</td>
		</tr>
	</table>
	<p>积分与等级换算关系：等级暂定为<a href="" yarget="_blank">斐波那契数列</a>从第二项开始的值乘以50，比如1级需要50积分，2级需要100积分，3级需要150积分，4级需要250积分，5级需要400积分，以此类推。<span class="red">积分的消费不影响等级。</span></p>
	<p><a class="right" href="#">回到顶部&uarr;</a><div class="empty-clear"></div></p>

</div>
{% endblock %}