{% extends 'layout_unlogin.html' %}

{% block title %}欢迎{% endblock %}

{% block content %}
<div id="header">
	<div id="header_wrapper">
		<a href="/" id="logo"><span>❄</span> SN</a>
	</div>
</div>

<div id="container">
	<div id="main">
		<div class="pad10 indent-p">
			<p>先抱个歉，页面简陋了一点。站长是技术出身，不太会美工 ^_^</p>
			<p>每年六月，都会有数百号人从神高毕业考入大学，这些人大概有一大半毕业后没有再回到家乡，而选择了在外地奋斗。再加上跳过考试仅凭自己的能力南下或者北上闯荡的有志青年，近十几年来总共有大概上千神农人离乡背井，分散在全国各地。</p>
			<p>其实，一个人在外地的日子并不好过。陌生的城市，形形色色的三教人，听不懂的九流话，夜深了也难免会想念家乡人的笑脸。所以我就花点时间做了这么一个小网站，让在外地的老乡们能有一个地方拉拉家常，记录下工作的点点滴滴，分享下个人的奋斗经历，还能顺便看看有没有在同城的老乡。网站暂取名为：<b>好久不见，神农架</b>。</p>
			<p>与此同时，我也想做一个测试，统计在外地的神农人的人数，以及在全国大致的分布。我画了一张地图，每一个成功登录的用户都会有显示，地图在这个网页的最下边。由于网站刚刚上线，用户数据不多，所以还希望大家能够多邀请一些认识的老乡进来，大家一起来完善这张地图。具体的邀请方式和奖励请登录之后查看帮助页面，那里有详细说明。</p>
			<br>	
			<p>～～～～～～ 我是分割线 ～～～～～～～～～</p>
			<br>
			<p>这里的核心主题是交流，为了把主题之外的操作做到最简，我采用了腾讯QQ的登录接口，免去了繁琐的注册过程，各位也不用再去记忆账号密码，只要使用QQ登录即可，登录按钮请往右看。在这之前，请先把这篇说明看完，谢谢。</p>
			<p>QQ账号是中国绝大多数网民都有的账号，为保证安全，我们应该尽量避免在网站上输入QQ密码，因为毕竟网页的安全系数不如QQ客户端那么高。所以我建议的登录方式是：<span class="red">使用QQ客户端的入口进入QQ空间(这个相信大家都很熟吧^_^)，这时浏览器会有记录表示你已经登录qq了，然后再回到这个页面，点击右边的qq登录按钮，这样就不用再输入密码，直接确认即可登录成功。</span>现在有很多网站都接入了QQ账号登录，我也建议使用这种方式，尽量不要在网站中输入QQ密码。</p>
			<br>
			<p>～～～～～～ 我是分割线，我又来啦，233 ～～～～～～～～～</p>
			<br>
			<p>网站系统是我自己用python开发的，现在功能还很简单，如果运行良好的话，我会根据大家的建议来增删功能，美化界面。所以也希望各位能够提出一些中肯的建议，技术上的问题交给我就可以了，这就是我不采用比如discuz这样的大型系统的原因，功能实现起来比较随意，大家随便提。</p>
			<p>好了，大家也看累了，现在就去登录吧，有话咱进去坐着说～～</p>
			<p>最后，祝愿今年高考的同学都能进入理想的大学！</p>
			<p></p>
			<hr>
			<br>
			神农老乡分布图：<br><br>
			<div id="indexmap"></div>
			<br>
			说明：在地图上滚动鼠标可以按比例放大缩小，点击标记可以查看用户的头像及昵称。
		</div>
	</div>
	<div id="right">
		<div class="cell"><a href="javascript:;" onclick='toQzoneLogin()'>QQ Login</a></div>
		<div class="cell">
			<span class="logo">❄</span>
			<p>本站logo是一朵绿色的雪花，表示同根和团结，象征纯洁与活力，包含着神农架春夏的草叶和秋冬的霜雪。</p>
			<div class="empty-clear"></div>
		</div>
	</div>
	<div class="clear"></div>

	<div id="footer">
		&copy;v5snj.com - 好久不见，神农架 - since 2013.06
	</div>
</div>
{% endblock %}

{% block js %}
<script src="http://map.soso.com/api/v2/main.js"></script>
<script>var index_data = {{ X.users|tojson|safe }};init_index_map();function toQzoneLogin()
{
	childWindow = window.open("connect/qq","TencentLogin","width=450,height=320,menubar=0,scrollbars=1, resizable=1,status=1,titlebar=0,toolbar=0,location=1");
} </script>
{% endblock %}