{% extends 'user/layout.html' %}
{% set user_curr_tab = "info" %}


{% block user_main %}
<h2>{{ X.user.nickname }} 的个人信息</h2>
<p>{{ X.user.avatar()|safe }}</p>
<p>昵称 : {{ X.user.nickname }}</p>
<p>Urlname : {{ X.user.urlname }}</p>
<p>Anonyname : {{ X.user.anonyname }}</p>
<p>Date_joined : {{ X.user.date_joined|timesince }}</p>
<p>Last_login : {{ X.user.date_last_login|timesince }}</p>
<p>Seen : {{ X.user.seen }}</p>
<p>Status : {{ X.user.status }}</p>
<p>共送出过{{ X.user.n_like }}个赞，收到过{{ X.user.n_liked }}个赞。</p>

<p>Sex : {{ X.user.sex }}</p>
<p>Birth : {{ X.user.birth }}</p>
<p>Job : {{ X.user.job }}</p>
{% if X.user.sign %}<p class="sign">{{ X.user.sign }}</p>{% endif %}


<hr>

{% if X.posts|count %}
<h2>{{ X.user.nickname }}发表的主题 :</h2>
	{% for post in X.posts %}
	<p>{{ X.user.nickname }} 发表了 <a target="_blank" href="{{ url_for('bbs.detail', post_id=post.id) }}">{{ post.title }}</a> {{ post.ctime|timesince }}</p>
	{% endfor %}
	{% if 5 == X.posts|count %}<p><a href="{{ url_for('user.posts', urlname=X.user.urlname) }}">查看更多{{ X.user.nickname }}发表的主题</a></p>{% endif %}
{% else %}
这位童鞋还没有发表过主题
{% endif %}

<hr>
{% if X.cmts|count %}
<h2>{{ X.user.nickname }}发表的回复：</h2>
	{% for cmt in X.cmts %}
	<div>
		<p class="b-grey">{{ X.user.nickname }} 回复了主题 <a target="_blank" href="{{ url_for('bbs.detail', post_id=cmt.sid, _anchor='cmt_%d'%cmt.id) }}">{{ cmt.title }}</a> {{ cmt.ctime|timesince }} :</p>
		<p>{{ cmt.content|safe }}</p>
	</div>
	{% endfor %}
	{% if 5 == X.cmts|count %}<p><a href="{{ url_for('user.post_cmts', urlname=X.user.urlname) }}">查看更多{{ X.user.nickname }}发表的回复</a></p>{% endif %}
{% else %}
这位童鞋还没有留下过评论
{% endif %}

{% endblock %}
