{% extends 'user/layout.html' %}
{% from 'macros/_pager.html' import render_pager %}
{% set user_curr_tab = "invite" %}

{% block user_main %}
{% if not X.invite_permit %}
对不起，您不具有邀请权限。
{% else %}
<a href="{{ url_for('gen_invite') }}">生成邀请码</a>

<table border='1'>
	<tr>
		<th>邀请码</th>
		<th>生成时间</th>
		<th>状态</th>
		<th>使用时间</th>
		<th>被邀请用户</th>
	</tr>
	{% for invite in X.invites.items %}
	<tr>
		<td>{{ invite.code }}</td>
		<td>{{ invite.ctime|timesince }}</td>
		<td>{% if invite.status %}已使用{% else %}未使用{% endif %}</td>
		<td>{% if invite.status %} {{ invite.utime|timesince }} {% endif %}</td>
		<td>{% if invite.status %} <a href="{{ url_for('user.info', urlname=invite.guest.urlname) }}">{{ invite.guest.nickname }} {% endif %}</td>
	</tr>
	{% endfor %}
</table>
{{ render_pager(X.invites, X.pager_url) }}
{% endif %}
{% endblock %}