{% extends 'user/layout.html' %}
{% from 'macros/_pager.html' import render_pager %}
{% set user_curr_tab = "point" %}


{% block user_bc %}
› {{ X.user.nickname }}的积分记录
{% endblock %}

{% block user_main %}
<table border="1">
	<tr>
		<th>事件</th>
		<th>获得积分</th>
		<th>时间</th>
	</tr>
	{% for point in X.points.items %}
	<tr>
		<td>{{ point.data|safe }}</td>
		<td>{{ point.point }}</td>
		<td>{{ point.ctime|timesince }}</td>
	</tr>
	{% endfor %}
</table>
{{ render_pager(X.points, X.pager_url) }}
{% endblock %}