{% extends 'user/layout.html' %}
{% from 'macros/_pager.html' import render_pager %}
{% set user_curr_tab = "posts" %}

{% block user_bc %}
› {{ X.user.nickname }}发表的主题
{% endblock %}

{% block user_main %}
{% if X.posts.total %}
<h2>{{ X.user.nickname }} 发表的主题 :</h2>
	{% for post in X.posts.items %}
	<p>{{ X.user.nickname }} {{ post.ctime|timesince }}发表了主题 <a target="_blank" href="{{ url_for('bbs.detail', post_id=post.id) }}">{{ post.title }}</a></p>
	{% endfor %}
<div>{{ render_pager(X.posts, X.pager_url) }}</div>
{% else %}
这位童鞋还没有发表过主题
{% endif %}
{% endblock %}
