{% extends 'user/layout.html' %}
{% from 'macros/_pager.html' import render_pager %}
{% set user_curr_tab = "post_cmts" %}

{% block user_main %}
{% if X.post_cmts.total %}
<h2>{{ X.user.nickname }} 发表的评论 :</h2>
	{% for cmt in X.post_cmts.items %}
	<div>
		<p class="b-grey">{{ X.user.nickname }} replied <a target="_blank" href="{{ url_for('bbs.detail', post_id=cmt.sid, _anchor='cmt_%d'%cmt.id) }}">{{ cmt.title }}</a> {{ cmt.ctime|timesince }} :</p>
		<p>{{ cmt.content|safe }}</p>
	</div>
	{% endfor %}

<div>{{ render_pager(X.post_cmts, X.pager_url) }}</div>
{% else %}
这位童鞋还没有留下过评论
{% endif %}

{% endblock %}
