* {margin: 0; padding: 0;}
li {list-style: none;}

html {background-color: #eef;}

#flash {background-color: #ffe;position: absolute; width: 300px; margin-left: 50%; top:0;left:-150px;}

#header .hl , .error {color: red}

#tabs {background-color: #fff;width: 100%;float: left;}
#header_menu {width: 100%; float: left;}
#header_menu li , #tabs li {float: left;margin-right: 10px;}

.unread {font-weight: bolder;}