{% macro render_post(post) %}
<div class="arts">
	{{ post.author.avatar(post.is_anony)|safe }}
	<div>
		<p><a class="f16" href="{{ url_for('bbs.detail', post_id=post.id) }}">{{ post.title }}</a></p>
		<p>
			<a class="node-link" href="{{ url_for('bbs.index', urlname=post.node.urlname) }}">{{ post.node.name }}</a>
			{{ post.author.name(post.is_anony)|safe }} 发布于 {{ post.ctime|timesince }}
		</p>
		<p>
			<span>{{post.n_visited}}次点击 / {{ post.n_cmt }}条评论 / {{ post.n_liked }}个赞</span>
		</p>
	</div>
</div>
{% endmacro %}