{% macro render_cmt(cmt_obj) %}
{% from 'macros/_forms.html' import render_form , render_like_form with context %}

<div class="pad10">
{% set cmt_total = cmt_obj.list.count() %}
{% if cmt_total %}
<strong class="bb clear">{{ cmt_obj.list.count() }}条评论：</strong><br>
	{% for cmt in cmt_obj.list.all() %}
	<div class="cmt_item bb m_bg" id="cmt_{{ cmt.id }}">
		{{ cmt.author.avatar(cmt.is_anony)|safe }}
		<div class="cmt_right" data-id={{ cmt.id }}>
			<p>{{ cmt.author.name(cmt.is_anony)|safe }} 发表于 {{ cmt.ctime|timesince }}</p>
			<div class="mar10">{{ cmt.content|safe }}</div>
			<div class="status_bar">
				<span class="right">{{ loop.index|floorsign }}...</span>
				<span class="status">赞({{ cmt.n_liked }})</span>
				<a href="javascript:;" class="cmt_reply">Reply</a>
				{% if g.user != cmt.author %}
				{{ render_like_form(X.act_form, url_for('site.cmt_like', cmt_id=cmt.id), cmt.liker, '赞') }}
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
{% else %}
<strong class="bb">暂无评论</strong>
{% endif %}
</div>

<div id="cmt_form" class="pad10">
	<div id="reply_tip">
		您将回复 <span id="reply_user"></span> 的评论：
		<div id="reply_cnt">sss</div>
		<a href="javascript:;" id="reply_cancel">取消回复</a>
	</div>
	{{ render_form(cmt_obj.form) }}
</div>
{% endmacro %}