{% macro render_cmt(cmt_obj) %}
{% from 'macros/_forms.html' import render_form %}

<div class="pad10 bb">
{% set cmt_total = cmt_obj.list.count() %}
{% if cmt_total %}
<strong class="bb clear">Total : {{ cmt_obj.list.count() }}</strong><br>
	{% for cmt in cmt_obj.list.all() %}
	<div class="cmt_item" id="cmt_{{ cmt.id }}">
		{{ cmt.author.avatar(cmt.is_anony)|safe }}
		<p>{{ cmt.author.name(cmt.is_anony)|safe }}:{{ cmt.ctime|timesince }}</p>
		<p>{{ cmt.content|safe }}</p>
		<p>
			[{{ loop.index|floorsign }}]
			{% if g.user != cmt.author %}
			<form action="{{ url_for('site.cmt_like', cmt_id=cmt.id) }}" method="post">
				{{ X.act_form.hidden_tag() }}
				<input type="submit" value="{% if g.user in  cmt.liker %}Unlike{% else %}Like{% endif %}">
			</form>
			{% endif %}
			<span class="status">赞({{ cmt.n_liked }})</span>
			<a href="javascript:;" class="cmt_reply">Reply</a>
		</p>
	</div>
	{% endfor %}
{% else %}
<strong class="bb">暂无评论</strong>
{% endif %}
</div>

<div class="pad10">
<p>Add your opinions:</p>
<div>{{ render_form(cmt_obj.form) }}</div>
</div>
{% endmacro %}