{% macro render_form(form, tag='li', action='', submitvalue="Submit") %}
<form action="{{ action }}" method="POST">
<table id="form_table">
{% for field in form %}
	{% if field.name == 'csrf_token' or field.type == 'HiddenField' %}
		{{ field() }}
	{% else %}
		<tr><th>{{ field.label }} :</th><td>
		{{ field() }}
		{% if field.errors %}
			<ul class="errors">
				{% for error in field.errors %}
				<li class="error">{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		</td></tr>
	{% endif %}
{% endfor %}
<tr><td></td><td><input type="submit" value="{{ submitvalue }}"></td></tr>
</table>
</form>
{% endmacro %}