{% extends 'bbs/layout.html' %}

{% block bc %}
<a href="{{ url_for('bbs.index') }}">首页</a> ›
{% if X.node %}
<a href="{{ url_for('bbs.index', urlname=X.node.urlname) }}">{{ X.node.name }}</a> ›
{% endif %}
添加新主题
{% endblock %}

{% block bbs_main %}
<div class="pad10">
{{ render_form(X.form) }}
</div>
{% endblock %}

{% block right_top %}
<div class="cell">
	<h3>提示：</h3>
	<ol>
		<li>如果已有的节点类型不能满足你，请选择[其他]。当[其他]节点下相似主题的内容比较多时，管理员会新增相应的节点类型。</li>
		<li>主题标题应能够概括内容大意。</li>
		<li>内容一经发表将不可修改，提交前仔细检查是个好习惯。</li>
	</ol>
</div>
{% endblock %}