{% extends 'layout.html' %}
{% block main %}
<h1>{{ X.post.title }}</h1>
<p>
	{% if X.post.is_anony %}
	{{ X.post.author.anonyname }}
	{% else %}
	{{ X.post.author.nickname }}
	{% endif %}
	 - {{ X.post.ctime|timesince }}
</p>
<div>{{ X.post.content }}</div>

{% for append in X.post.appends %}
<div class="error">
	<p>{{ append.content }}</p>
	<p>{{ append.ctime|timesince }}</p>
	<hr>
</div>
{% endfor %}

<p><a href="{{ url_for('index', nodename=X.post.node.name) }}">{{ X.post.node.name }}({{ X.post.node.n_post }})</a></p>

{% if X.post.author != g.user %}
<form action="{{ url_for('action', type='like', post_id=X.post.id) }}" method="post">
	{{ X.act_form.hidden_tag() }}
	<input type="submit" value="{% if g.user in  X.post.liker %}Unlike{% else %}Like{% endif %}" />
</form>
{% endif %}
{{ X.post.n_liked }}

{% if X.post.author != g.user %}
<form action="{{ url_for('action', type='mark', post_id=X.post.id) }}" method="post">
	{{ X.act_form.hidden_tag() }}
	<input type="submit" value="{% if g.user in X.post.marker %}Unmark{% else %}Mark{% endif %}" />
</form>
{% endif %}
{{ X.post.n_marked }}

{% if X.post.author == g.user %}
<a href="{{ url_for('append', post_id=X.post.id) }}">append</a>
{% endif %}

<div>
	{% include 'site/cmt.html' %}
</div>

{% endblock %}
