{% extends 'base.html' %}
{% block main %}
<h1>{{ X.post.title }}</h1>
<p>
	{% if X.post.is_anony %}
	{{ X.post.author.anonyname }}
	{% else %}
	{{ X.post.author.nickname }}
	{% endif %}
	 - {{ X.post.ctime }}
</p>
<div>{{ X.post.content }}</div>

{% for append in X.post.appends %}
<p class="error">{{ append.content }}</p>
{% endfor %}

<p><a href="{{ url_for('.index', nodename=X.post.node.name) }}">{{ X.post.node.name }}({{ X.post.node.n_post }})</a></p>

<form action="{{ url_for('.action', type='like', post_id=X.post.id) }}" method="post">
	{{ X.like_form.hidden_tag() }}
	<input type="submit" value="{% if g.user in  X.post.liker %}Unlike{% else %}Like{% endif %}" />
</form>
{{ X.post.n_liked }}
<form action="{{ url_for('.action', type='mark', post_id=X.post.id) }}" method="post">
	{{ X.like_form.hidden_tag() }}
	<input type="submit" value="{% if g.user in X.post.marker %}Unmark{% else %}Mark{% endif %}" />
</form>
{{ X.post.n_marked }}

{% endblock %}