{% extends 'bbs/layout.html' %}
{% from 'macros/_bbs.html' import render_post %}

{% block bc %}
<a href="{{ url_for('bbs.index') }}">首页</a>
{% if X.node %}
› {{ X.node.name }}
{% endif %}
{% endblock %}

{% block bbs_main %}
{% if X.node and X.node.desc %} <div class="node-desc"><b>{{ X.node.name }} :</b> {{ X.node.desc }}</div> {% endif %}
{% for post in X.posts %}
{% if loop.index0 < X.per_page %}
{{ render_post(post) }}
{% endif %}
{% endfor %}

{% if X.posts|length > X.per_page %}
<div id="pager"><a href="{{ X.pager_url(2) }}">下一页 &rarr;</a></div>
{% endif %}
{% endblock %}