{% extends 'bbs/layout.html' %}
{% from 'macros/_bbs.html' import render_post %}

{% block bc %}
<span class="left">
<a href="{{ url_for('bbs.index') }}">首页</a>
{% if X.nodename %}
› {{ X.nodename }}
{% endif %}
</span>
<a href="{{ url_for('add', nodename=X.nodename) }}" class="right">添加新主题</a>
<div class="empty-clear"></div>
{% endblock %}

{% block bbs_main %}
{% for post in X.posts %}
{% if loop.index0 < X.per_page %}
{{ render_post(post) }}
{% endif %}
{% endfor %}

{% if X.posts|length > X.per_page %}
<div id="pager"><a href="{{ X.pager_url(2) }}">Next page</a></div>
{% endif %}
{% endblock %}