{% extends 'bbs/layout.html' %}
{% from 'macros/_bbs.html' import render_post %}
{% from 'macros/_pager.html' import render_pager %}

{% block bc %}
<span class="left">
<a href="{{ url_for('bbs.index') }}">首页</a>
{% if X.nodename %}
› <a href="{{ url_for('bbs.index', nodename=X.nodename) }}">{{ X.nodename }}</a>
{% endif %}
</span>

<span class="right"><a href="{{ url_for('add', nodename=X.nodename) }}" class="bbs_add_entry">ADD</a></span>
{% endblock %}

{% block bbs_main %}

{% for post in X.post_obj.items %}
{{ render_post(post) }}
{% endfor %}

<div id="pager">{{ render_pager(X.post_obj, X.pager_url) }}</div>

{% endblock %}