<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{% block title %}index{% endblock %} - vvv</title>
	<link rel="stylesheet" href="{{ url_for('.static', filename='css/global.css') }}">
	{% block css %}{% endblock %}
	<script src="{{ url_for('.static', filename='js/base.js') }}"></script>
	{% block js %}{% endblock %}
</head>
<body>
	{% block content %}{% endblock %}
	<ul id="flash">
		{% for status, message in get_flashed_messages(True) %}
		<li class="{{ status }}">{{ message }}</li>
		{% endfor %}
	</ul>
</body>
</html>