{% extends 'base.html' %}
{% from 'macros/_forms.html' import render_form %}
{% from 'macros/_utils.html' import tabbed_link %}

{% block content %}
<div id="header">
	<ul id="header_menu">
		<li><a href="">LOGO</a></li>
		<li>{{ tabbed_link(header_curr_tab, 'index', 'Index', url_for('site.index')) }}</li>
		<li>{{ tabbed_link(header_curr_tab, 'bbs', 'Bbs', url_for('bbs.index')) }}</li>
		<li>{{ tabbed_link(header_curr_tab, 'user', g.user.nickname, url_for('user.info')) }}</li>
		<li><a href="{{ url_for('user.msg') }}">Msg({{ g.user.get_msg().count() }})</a></li>
		<li><a href="{{ url_for('site.logout') }}">退出</a></li>
	</ul>
	<div class="empty-clear"></div>
</div>
<div id="container">
	<div id="main">
		<div id="bc">{% block bc %}bc{% endblock %}<div class="empty-clear"></div></div>
		{% block main %}{% endblock %}</div>
	<div id="right">
		{% block right %}
			{% from 'macros/_right.html' import right_user with context %}
			{{ right_user(g.user) }}
		{% endblock %}
	</div>
	<div class="clear"></div>
	<div id="footer">Footer</div>
</div>

{% endblock %}