{% extends 'base.html' %}
{% from 'macros/_forms.html' import render_form %}

{% block content %}
<div id="header">
	<ul id="header_menu">
		<li><a href="{{ url_for('site.index') }}">Index</a></li>
		<li><a href="{{ url_for('bbs.index') }}">Bbs</a></li>
		<li><a href="{{ url_for('user.info') }}">User</a></li>
	</ul>

	<ul id="header_link">
		<li><a href="{{ url_for('user.setting') }}">Setting</a></li>
		<li><a href="{{ url_for('user.invite') }}">Invite</a></li>
		<li><a href="{{ url_for('site.logout') }}">Logout</a></li>
	</ul>
	<span>{{ g.user.nickname }}</span>
</div>

<div id="bc">{% block bc %}{% endblock %}</div>
<hr>
<div id="main">{% block main %}{% endblock %}</div>
<hr>
<div id="footer">Footer</div>

{% endblock %}